.modal-container {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container.ativo {
  display: flex;
}

.modal {
  background: #ffffff;
  width: 80vw;
  max-width: 600px;
  padding: 40px;
  border: 10px solid #ffbb55;
  box-shadow: 0 0 0 10px #ffffff;
  position: relative;
}

.ativo .modal {
  animation: modal 0.3s forwards;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fechar {
  background: #ee5544 url("../img/fechar.svg") center center no-repeat;
  width: 50px;
  height: 50px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
}

.modal label {
  display: block;
  margin: 1rem 0 0.5rem 0;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

.modal input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  box-sizing: border-box;
  border: 2px solid #222222;
  border-radius: 0;
}

.modal button[type="submit"] {
  background: #ee5544;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
  display: block;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
}
